<app-mainnav></app-mainnav>
<h3 class="dirt-label">The Dirt Label</h3>
<p>Raw Data</p>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Order Number</th>
    <th scope="col">Order Number (Line Items)</th>
    <th scope="col">Shipping Cost Amount</th>
    <th scope="col">Number of Line Items</th>
    <th scope="col">Quantity</th>
    <th scope="col">SKU</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let orders of ink; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
        {{orders.ordernumber}}
    </td>
    <td>
      {{ orders.ordernumberlineitems }}
    </td>
    <td>
        {{ orders.amountshippingcost }}
      </td>
    <td>{{ orders.countnumberoflineitems }}</td>
    <td>{{ orders.quantity}}</td>
    <td>{{ orders.sku }}</td>
  </tr>
  </tbody>
</table>
<p>Data No Line Items</p>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order Number</th>
      <th scope="col">Order Number (Line Items)</th>
      <th scope="col">Shipping Cost Amount</th>
      <th scope="col">Number of Line Items</th>
      <th scope="col">Quantity</th>
      <th scope="col">SKU</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let filtered of dataNli; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
          {{filtered.ordernumber}}
      </td>
      <td>
        {{ filtered.ordernumberlineitems }}
      </td>
      <td>
          {{ filtered.amountshippingcost }}
        </td>
      <td>{{ filtered.countnumberoflineitems }}</td>
      <td>{{ filtered.quantity}}</td>
      <td>{{ filtered.sku }}</td>
    </tr>
    </tbody>
  </table>
<div class="shipping">
    <h5>Total Shipping: ${{shippingTotal}} </h5>
</div>