<app-mainnav></app-mainnav>
<div class="my-container">
    <div class="main">
        <div class="card-group">
            <div class="card">
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div class="card-body">
                <h5 class="card-title">About Inkpressions</h5>
                <p class="card-text">A screen printing and embroidery company on a mission to bring new ideas, unique designs, and a way for people to give back. It’s our goal to stay in tune with all of the latest trends, so we can give our customers the best in quality and apparel. We’re constantly testing different printing methods, custom techniques & products to be able to make any design our customers have truly come to life. Take a look around, and see what InkPressions can do for you!
                    <hr/>
                    <p>Proudly located in Michigan,we partner with organizations throughout the country. </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <!-- <img class="card-img-top main-img" src="./assets/oakly.jpg" alt="Card image cap"> -->
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
    </div>
</div>
